{% extends "navigator.html" %}
{% block title %}错误{% endblock %}
{% block style %}
<style scoped>
    body {
        background-color: #f9f9f9;
    }

    .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error-card {
        padding: 2rem;
        text-align: center;
        background-color: #f9f9f9;
        border-radius: 5px;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        /* width: 60%; */
    }

    .error-code {
        /* color: #D85030; */
        color: #293B49;
        font-size: 5em;
        margin-bottom: 0.5em;
    }

    .error-pic {
        width: 80%; 
        height: auto;
    }

    .error-message {
        font-size: 1.5em;
        line-height: 1.5;
        color: #333;
    }

    .back {
        display: inline-block;
        padding: 0.5em 1em;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 1em;
        transition: background-color 0.3s ease;
        font-size: 1.2em;
    }

    .back:hover {
        background-color: #0056b3;
    }
</style>
{% endblock%}

{% block content %}

<main class="error-container">
    <div class="error-card">
        <img src="{{ url_for('static', filename='picture/error.png') }}" class="error-pic">
        <h1 class="error-code">ERROR!</h1>
        <p class="error-message">{{ msg }}</p>
        <a href="javascript:history.back()" class="back">返回上一页</a>
    </div>
</main>
{% endblock %}