{% extends "navigator.html" %}
{% block title %}登录{% endblock %}
{% block style %}
<style>
  .search-container {
    text-align: center;
    padding: 20px;
  }

  .container {
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .container a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: dodgerblue;
    margin-top: 15px;
  }
</style>
{% endblock%}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<main class="container">
  <h2>登录</h2>
  <form action="/login" method="post">
    <label for="username"><b>账号</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>密码</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %} -->
    <button type="submit">登录</button>
  </form>
  <p>新用户? <a href="/register_page">马上注册</a></p>
</main>
{% endblock %}