{% extends "navigator.html" %}
{% block title %}注册{% endblock %}
{% block style %}
<style>
  .container {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: dodgerblue;
    margin-top: 15px;
  }
</style>
{% endblock%}

{% block content %}
  <main class="container">
    <h2>注册</h2>
    <form action="/register" method="post">
      <label for="username"><b>用户名</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="email"><b>邮箱</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>

      <label for="password"><b>密码</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label for="confirm_password"><b>确认密码</b></label>
      <input type="password" placeholder="Confirm Password" name="confirm_password" required>
      <button type="submit">注册</button>
    </form>
    <p>已有账号? <a href="/login_page">登录</a></p>
  </main>
  {% endblock %}